:root{
    --color-primario: #FFE6E6;
    --color-secundario: #000000;
    --color-terciario: #ffb8deff;
    --color-cuaternario: #ffeddfff;
    --color-quinto: #bd2d87ff;
    --color-sexto: #ffffff;

}


body {
    height: 100%;
    width: 100%;
    font-family: "Inter";
    font-style: normal;
    box-sizing: border-box;
    background-color:var(--color-primario);
    margin: 0;
    padding: 0;
}

.imagen{
    width: 7%;
    margin-top: 20px;
    margin-left: 35px;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.texto {
    height: 270px;
    width: 674px;
    padding: 10px; 
    font-size: 1.5rem; 
    border: none;
    outline: none;
    font-family: "Inter"; 
    background-color: var(--color-primario);
    margin-left: 185px;
    margin-bottom: 100px;
}

.texto::placeholder{
    color: var(--color-secundario);
    font-family: "Inter"; 
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
}

.condiciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;;
    padding: 0px;
    width: 229px;
    height:18px;
    top: 851px;
    left: 240px;
    gap: 8px;
    opacity: 0px;
    margin-left: 196px;
}

.alerta{
    font-size: 10px;
    height: 20px;
    width: 330px;
    gap: 0px;
    opacity: 0.8px;
    font-family: Inter;
    color: var(--color-secundario);
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    justify-content: space-between;
    gap: 15px;
    width: 680px;
    height: 67px;
    top: 885px;
    left: 500px;
}

.boton_encriptar {
    font-family: Inter; 
    font-size: 1.125rem;
    line-height: 18px;
    background-color:var(--color-terciario);;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--color-secundario);
    width: 50%;
    height: 100%;
    padding: 30px;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--color-terciario);
    display: flex;
}

.boton_desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    font-family: Inter; 
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--color-cuaternario);
    text-align: center;
    color: var(--color-secundario);
    width: 50%;
    height: 100%;
    padding: 30px;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--color-quinto);
}

.boton_encriptar:hover,
.boton_desencriptar:hover
.copiar:hover {
    width: 330px;
}

.tarjeta {
    background-color:var(--color-primario) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 95%;
    top: 0px;
    left: 950px;
    color: var(--color-secundario);
    border-radius: 32px;
    justify-content: center;
    margin: 15px;
    position: absolute;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

}

.muñeco {
    width: 100%;
    height: auto;
    top: 100px;
    left: 1032px;
}

.mensaje_encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-secundario);
}

.mensaje_encriptado h2{
    width: 90%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 20px;
    text-align: center;
    color: var(--color-secundario);
}

.mensaje_encriptado p{
    width: 86%;
    font-family: Inter;
    font-style: normal;
    color: var(--color-secundario);
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
}

.copiar{
    box-sizing: border-box;
    display: flex;
    font-family: Inter; 
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--color-cuaternario);
    text-align: center;
    color: var(--color-secundario);
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--color-quinto);
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    height: 67px;
    margin-top: auto;
    margin-bottom: 19%;
}

.creador {
    font-family:Inter;
    font-size: 0.96rem;
    text-align: center;
    padding: 5.5%;
    color: var(--color-secundario);
}

@media (max-width: 900px){
    body {
        background-color:var(--color-primario);
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .imagen{
        display:block;
        width: 120px;
        height: 50px;
        margin: 20px;
    }
    .container{
        align-items: center;
        padding: 0 10px
    }

    .texto{
        margin: 10px auto;
        padding: 5%;
        align-items: center;
        width: 100%;
        padding: 5%;
        font-size: 1.25rem;
        align-items: center;
        box-sizing: border-box;
    }

    .condiciones{
        width: 100%;
        margin: 10px;
        font-size: 1rem;
    }
    
    .botones{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    }

    .tarjeta{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 30%;
        margin: 20px auto 10px auto;
    }

    .muñeco{
        display: none;
        visibility: hidden;
    }

    .mensaje{
        width: 100%;
        top: 5%; 
    }

    .copiar{
        box-sizing: border-box;
        display: flex;
        font-family: Inter; 
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 18px;
        background-color: var(--color-cuaternario);
        text-align: center;
        color: var(--color-secundario);
        padding: 24px;
        border-radius: 24px;
        border: 1px solid var(--color-quinto);
        flex-direction: row;
        align-items: flex-start;
        width: 80%;
        height: 67px;
        margin-top: auto;
        margin-bottom: 19%;
    }

    .creador {
        color: var(--color-secundario);
        padding: 5%;
        width: 60%;
        align-items: center;
        margin: auto;
        margin-top: 80%;
    }

}
