*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Inter";
    box-sizing: border-box;
    background-color:#FFE6E6;
}
.doki{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen{
margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #FFE6E6;
    width: 100vh;
    position: relative;
    padding: 20px;
}

.container_texto {
    width: 80%;
    top: 168px;
    left: 240px;
    position: relative;
}

.texto {
    width: 100%;
    height: 150px;
    padding: 10px; 
    font-size: 1.125rem; 
    border: none;
    outline: none;
    font-family: "Inter"; 
    background-color: #FFE6E6;
}

.texto::placeholder{
    color: #141414ff;
    font-family: "Inter"; 
    font-style: normal;
    font-size: 2rem;
    font-weight: 400;
}

.condiciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 229px;
    height:18px;
    top: 851px;
    left: 240px;
    gap: 8px;
    opacity: 0px;
    position: absolute;
}

.condiciones p{
    width: 205px;
    height: 18px;
    gap: 0px;
    opacity: 0.8px;
    font-family: Inter;
    color: #141414ff;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    flex: none;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    justify-content: space-between;
    gap: 15px;
    width: 680px;
    height: 67px;
    top: 885px;
    left: 240px;
    gap: 24px;
}

.boton_encriptar {
    font-family: Inter; 
    font-size: 1.125rem;
    line-height: 18px;
    background-color: #ffb8deff;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #141414ff;
    width: 328px;
    height: 67px;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid #ffb8deff;
    display: flex;
}

.boton_desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    font-family: Inter; 
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 18px;
    background-color: #ffeddfff;
    text-align: center;
    color: #141414ff;
    width: 328px;
    height: 67px;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid #bd2d87ff;
}

.boton_encriptar:hover,
.boton_desencriptar:hover {
    margin: 10px;
    width: 330px;
    padding: 2px;
}

.tarjeta {
    background-color: #ffffff rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    gap: 0px;
    border-radius: 32px;
    justify-content: center;
    position: absolute;
    padding-top: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.muñeco{
    width: auto;
    height: 304px;
    top: 283px;
    left: 1032px;
    gap: 0px;
}

.mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    padding: 10px;
    gap: 16px;
    width: 290px;
    top: 1000px;
    position: absolute;
}

.mensaje_encriptado h2{
    width: 400px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 80px;
    text-align: center;
    color: #141414ff;
}

.mensaje_encriptado p{
    width: 400px;
    font-family: Inter;
    font-style: normal;
    color: #141414ff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
.creador {
    display: flex;
    font-family:Inter;
    font-size: 1.125rem;
    text-align: center;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

